Flask
nltk
psycopg2
beautifulsoup4
dj-database-url
gunicorn
matplotlib
numpy
pandas
python-dotenv
requests
urllib3
Flask-OAuthlib
textblob
Jinja2
Werkzeug
oauthlib
MarkupSafe
click
itsdangerous
six
authlib
subprocess
